<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- test/dev -->
    <!-- 
    <add key ="RemoteTranslationBaseUrl" value="http://orcharddev18.laser-group.com/laser/Api/Laser.Orchard.Translator" />
    -->
    <!-- pre -->
    <add key ="RemoteTranslationBaseUrl" value="http://pre-www.laser-group.com/Api/Laser.Orchard.Translator" />
    <!-- prod NOT WORKING YET-->
    <!-- 
    <add key ="RemoteTranslationBaseUrl" value="http://www.laser-group.com/Api/Laser.Orchard.Translator" />
    -->
    <!-- localhost-->
    <!-- 
    <add key ="RemoteTranslationBaseUrl" value="https://localhost/Laser.Orchard/PrivacyTest/Api/Laser.Orchard.Translator" />
    -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
