@model Laser.Orchard.MailCommunication.Models.MailCommunicationPart
@{
    Style.Include("font-awesome/css/font-awesome.min.css");
    Style.Include("font-awesome/css/font-awesome-ie7.min.css").UseCondition("IE 7");
}
<div class="tab-folder">
    <a href="#mail-comm-container"><i class="fa fa-envelope"></i>@T("Email")</a>
</div>
