@using Orchard.ContentPicker.Fields
@using Orchard.Utility.Extensions;
@using Orchard.Environment.Configuration
@using Orchard.Data
@using Orchard.ContentManagement
@using Laser.Orchard.Questionnaires.Models

@{
    var field = (ContentPickerField) Model.ContentField;
    string name = field.DisplayName;
    var contentItems = field.ContentItems;
    IRepository<UserAnswersRecord> _repositoryUserAnswer = null;
    WorkContext.TryResolve<IRepository<UserAnswersRecord>>(out _repositoryUserAnswer);
}
<p class="content-picker-field content-picker-field-@name.HtmlClassify()">
    @if(contentItems.Any()) {
        foreach(var contentItem in contentItems) {
            @Display(BuildDisplay(contentItem, "Detail"));
            if(contentItem != contentItems.Last()) {
                <span>,</span>
            }
        }
    }
    else {
        <div class="text-center text-pink"><h2>@T("No data found.")</h2></div>
    }
</p>

