@using Orchard.ContentPicker.Fields
@using Orchard.Utility.Extensions;
@using Orchard.Environment.Configuration
@using Orchard.Data
@using Orchard.ContentManagement
@using Laser.Orchard.Questionnaires.Models

@{
    var field = (ContentPickerField) Model.ContentField;
    string name = field.DisplayName;
    var contentItems = field.ContentItems;
    IRepository<UserAnswersRecord> _repositoryUserAnswer = null;
    WorkContext.TryResolve<IRepository<UserAnswersRecord>>(out _repositoryUserAnswer);
}
<p class="content-picker-field content-picker-field-@name.HtmlClassify()">
    @if(contentItems.Any()) {
        foreach(var contentItem in contentItems) {
            var skipQuestionnaire = false;
            
            if (TempData["QuestSuccess"] == null) {
                // non è la risposta al submit del questionario
                var questionnaireModuleSettings = WorkContext.CurrentSite.As<QuestionnaireModuleSettingsPart>();

                // se il questionario può essere compilato una sola volta per ogni utente fa le verifiche
                if (questionnaireModuleSettings.Disposable) {
                    // verifica in caso di utente loggato
                    if (WorkContext.CurrentUser != null) {
                        if (_repositoryUserAnswer.Fetch(x => x.User_Id == WorkContext.CurrentUser.Id && x.QuestionnairePartRecord_Id == contentItem.Id).Count() > 0) {
                            skipQuestionnaire = true;
                        }
                    }
                    else { // utente anonimo
                        // verifica in base ai cookie
                        var cookie = HttpContext.Current.Request.Cookies.Get("Questionnaires");
                        if(cookie != null) {
                            var elenco = "," + cookie.Value + ",";
                            if(elenco.Contains("," + contentItem.Id + ",")) {
                                skipQuestionnaire = true;
                            }    
                        }
                    }
                }
            }
            if(skipQuestionnaire) {
                <h2 class="text-center text-pink">@Model.ContentItem.Campagna.TestoRispostaGiaInviata.Value</h2>
            } else {
                @Display(BuildDisplay(contentItem, "Detail"));
                if(contentItem != contentItems.Last()) {
                    <span>,</span>
                }
            }
        }
    }
    else {
        <div class="text-center text-pink"><h2>@T("No data found.")</h2></div>
    }
</p>

