#content {
    height: auto;
    padding-bottom: 15px;
}

#media-library-toolbar {
    padding-top: 10px;
    padding-bottom: 15px;
}

#media-library-bottom-toolbar {
    padding-top: 10px;
}

.media-library-folder-title {
    padding-left: 5px;
    padding-top: 2px;
}

#media-library-main-list {
    height: 84vh;
}

#media-library-main-navigation {
    height: 60vh;
}

#media-library-main-list-wrapper {
    height: 60vh;
}

#folder-name {
    font-size: 20px;
    font-weight: bold;
}

#language {
    font-size: 15px;
    float: right;
}

#translator-html {
    background: none;
}

#translator-body {
    background: none;
    min-width: 0px;
}

.iframe-main {
    margin-left: 20px !important;
}

#translation-container {
    padding-top: 10px;
}

    #translation-container h2 {
        font-weight: bold;
    }

#translation-text-container {
    padding-top: 5px;
    padding-bottom: 10px;
}

#translated-text-container {
    padding-bottom: 10px;
}

#suggestions-area {
    padding-top: 15px;
}

.fa-check {
    color: green;
}

.fa-times {
    color: red;
}

.jstree-default .jstree-clicked, .jstree-hovered {
    border-radius: 0px !important;
    box-shadow: none !important;
}

.jstree-grid-column {
    width: 100% !important;
}