.zone-tripel-first a, .zone-tripel-second a, .zone-tripel-third a, .div-content a {
    color: #027245;
}

.success-message {
background-color: #c7fcec;
}

.zone-aside-first .box2 h3 {
    margin-top:21px;

}