@charset "UTF-8";

@font-face {
  font-family: "coloredfonticon";
  src:url("fonts/coloredfonticon.eot");
  src:url("fonts/coloredfonticon.eot?#iefix") format("embedded-opentype"),
    url("fonts/coloredfonticon.woff") format("woff"),
    url("fonts/coloredfonticon.ttf") format("truetype"),
    url("fonts/coloredfonticon.svg#coloredfonticon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "coloredfonticon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="coloredfonticon-"]:before,
[class*=" coloredfonticon-"]:before {
  font-family: "coloredfonticon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.coloredfonticon-afro:before {
  content: "\61";
}
.coloredfonticon-afro-1:before {
  content: "\63";
}
.coloredfonticon-agent:before {
  content: "\64";
}
.coloredfonticon-alien:before {
  content: "\65";
}
.coloredfonticon-alien-1:before {
  content: "\66";
}
.coloredfonticon-angel:before {
  content: "\67";
}
.coloredfonticon-angry:before {
  content: "\68";
}
.coloredfonticon-angry-1:before {
  content: "\69";
}
.coloredfonticon-angry-2:before {
  content: "\6a";
}
.coloredfonticon-angry-3:before {
  content: "\6b";
}
.coloredfonticon-angry-4:before {
  content: "\6c";
}
.coloredfonticon-angry-5:before {
  content: "\6d";
}
.coloredfonticon-arguing:before {
  content: "\6e";
}
.coloredfonticon-arrogant:before {
  content: "\6f";
}
.coloredfonticon-asian:before {
  content: "\70";
}
.coloredfonticon-asian-1:before {
  content: "\71";
}
.coloredfonticon-avatar:before {
  content: "\72";
}
.coloredfonticon-baby:before {
  content: "\73";
}
.coloredfonticon-baby-1:before {
  content: "\74";
}
.coloredfonticon-baby-2:before {
  content: "\75";
}
.coloredfonticon-bully:before {
  content: "\76";
}
.coloredfonticon-burglar:before {
  content: "\77";
}
.coloredfonticon-businessman:before {
  content: "\78";
}
.coloredfonticon-cheeky:before {
  content: "\79";
}
.coloredfonticon-cheeky-1:before {
  content: "\7a";
}
.coloredfonticon-clown:before {
  content: "\41";
}
.coloredfonticon-confused:before {
  content: "\42";
}
.coloredfonticon-confused-1:before {
  content: "\43";
}
.coloredfonticon-confused-2:before {
  content: "\44";
}
.coloredfonticon-confused-3:before {
  content: "\45";
}
.coloredfonticon-creepy:before {
  content: "\46";
}
.coloredfonticon-crying:before {
  content: "\47";
}
.coloredfonticon-crying-1:before {
  content: "\48";
}
.coloredfonticon-crying-2:before {
  content: "\49";
}
.coloredfonticon-crying-3:before {
  content: "\4a";
}
.coloredfonticon-dazed:before {
  content: "\4b";
}
.coloredfonticon-dazed-1:before {
  content: "\4c";
}
.coloredfonticon-dazed-2:before {
  content: "\4d";
}
.coloredfonticon-dazed-3:before {
  content: "\4e";
}
.coloredfonticon-drunk:before {
  content: "\4f";
}
.coloredfonticon-dead:before {
  content: "\50";
}
.coloredfonticon-dead-1:before {
  content: "\51";
}
.coloredfonticon-dead-2:before {
  content: "\52";
}
.coloredfonticon-dead-3:before {
  content: "\53";
}
.coloredfonticon-dead-4:before {
  content: "\54";
}
.coloredfonticon-dead-5:before {
  content: "\55";
}
.coloredfonticon-dead-6:before {
  content: "\56";
}
.coloredfonticon-desperate:before {
  content: "\57";
}
.coloredfonticon-desperate-1:before {
  content: "\58";
}
.coloredfonticon-detective:before {
  content: "\59";
}
.coloredfonticon-dissapointment:before {
  content: "\5a";
}
.coloredfonticon-doctor:before {
  content: "\30";
}
.coloredfonticon-dumb:before {
  content: "\31";
}
.coloredfonticon-emo:before {
  content: "\32";
}
.coloredfonticon-emo-1:before {
  content: "\33";
}
.coloredfonticon-emo-2:before {
  content: "\34";
}
.coloredfonticon-emoticon:before {
  content: "\35";
}
.coloredfonticon-evil:before {
  content: "\36";
}
.coloredfonticon-faint:before {
  content: "\37";
}
.coloredfonticon-faint-1:before {
  content: "\38";
}
.coloredfonticon-flirt:before {
  content: "\39";
}
.coloredfonticon-flirt-1:before {
  content: "\21";
}
.coloredfonticon-flirt-2:before {
  content: "\22";
}
.coloredfonticon-flirty:before {
  content: "\23";
}
.coloredfonticon-gangster:before {
  content: "\24";
}
.coloredfonticon-geek:before {
  content: "\25";
}
.coloredfonticon-geek-1:before {
  content: "\26";
}
.coloredfonticon-gentleman:before {
  content: "\27";
}
.coloredfonticon-gentleman-1:before {
  content: "\28";
}
.coloredfonticon-gentleman-2:before {
  content: "\29";
}
.coloredfonticon-gentleman-3:before {
  content: "\2a";
}
.coloredfonticon-gentleman-4:before {
  content: "\2b";
}
.coloredfonticon-ginger:before {
  content: "\2c";
}
.coloredfonticon-girl:before {
  content: "\2d";
}
.coloredfonticon-girl-1:before {
  content: "\2e";
}
.coloredfonticon-goofy:before {
  content: "\2f";
}
.coloredfonticon-goofy-1:before {
  content: "\3a";
}
.coloredfonticon-goofy-2:before {
  content: "\3b";
}
.coloredfonticon-happy-7:before {
  content: "\3c";
}
.coloredfonticon-happy-8:before {
  content: "\3d";
}
.coloredfonticon-happy-6:before {
  content: "\3e";
}
.coloredfonticon-happy-5:before {
  content: "\3f";
}
.coloredfonticon-happy-4:before {
  content: "\40";
}
.coloredfonticon-happy-3:before {
  content: "\5b";
}
.coloredfonticon-happy-2:before {
  content: "\5d";
}
.coloredfonticon-happy-1:before {
  content: "\5e";
}
.coloredfonticon-happy:before {
  content: "\5f";
}
.coloredfonticon-grubby-1:before {
  content: "\60";
}
.coloredfonticon-grubby:before {
  content: "\7b";
}
.coloredfonticon-goofy-4:before {
  content: "\7c";
}
.coloredfonticon-goofy-3:before {
  content: "\7d";
}
.coloredfonticon-happy-9:before {
  content: "\62";
}
.coloredfonticon-happy-10:before {
  content: "\7e";
}
.coloredfonticon-happy-11:before {
  content: "\5c";
}
.coloredfonticon-happy-12:before {
  content: "\e000";
}
.coloredfonticon-happy-13:before {
  content: "\e001";
}
.coloredfonticon-happy-14:before {
  content: "\e002";
}
.coloredfonticon-happy-15:before {
  content: "\e003";
}
.coloredfonticon-happy-16:before {
  content: "\e004";
}
.coloredfonticon-harry-potter:before {
  content: "\e005";
}
.coloredfonticon-heisenberg:before {
  content: "\e006";
}
.coloredfonticon-hipster:before {
  content: "\e007";
}
.coloredfonticon-hipster-1:before {
  content: "\e008";
}
.coloredfonticon-in-love:before {
  content: "\e009";
}
.coloredfonticon-in-love-1:before {
  content: "\e00a";
}
.coloredfonticon-in-love-2:before {
  content: "\e00b";
}
.coloredfonticon-in-love-3:before {
  content: "\e00c";
}
.coloredfonticon-in-love-4:before {
  content: "\e00d";
}
.coloredfonticon-in-love-5:before {
  content: "\e00e";
}
.coloredfonticon-in-love-6:before {
  content: "\e00f";
}
.coloredfonticon-japan:before {
  content: "\e010";
}
.coloredfonticon-jew:before {
  content: "\e011";
}
.coloredfonticon-joyful:before {
  content: "\e012";
}
.coloredfonticon-joyful-1:before {
  content: "\e013";
}
.coloredfonticon-joyful-2:before {
  content: "\e014";
}
.coloredfonticon-kiss-1:before {
  content: "\e015";
}
.coloredfonticon-kiss-2:before {
  content: "\e016";
}
.coloredfonticon-kiss-3:before {
  content: "\e017";
}
.coloredfonticon-kiss-4:before {
  content: "\e018";
}
.coloredfonticon-laughing:before {
  content: "\e019";
}
.coloredfonticon-laughing-1:before {
  content: "\e01a";
}
.coloredfonticon-laughing-2:before {
  content: "\e01b";
}
.coloredfonticon-laughing-3:before {
  content: "\e01c";
}
.coloredfonticon-listening:before {
  content: "\e01d";
}
.coloredfonticon-love:before {
  content: "\e01e";
}
.coloredfonticon-manly:before {
  content: "\e01f";
}
.coloredfonticon-miserly:before {
  content: "\e020";
}
.coloredfonticon-nerd:before {
  content: "\e021";
}
.coloredfonticon-nerd-1:before {
  content: "\e022";
}
.coloredfonticon-nerd-2:before {
  content: "\e023";
}
.coloredfonticon-nerd-3:before {
  content: "\e024";
}
.coloredfonticon-nerd-4:before {
  content: "\e025";
}
.coloredfonticon-ninja:before {
  content: "\e026";
}
.coloredfonticon-pirate:before {
  content: "\e027";
}
.coloredfonticon-pirate-1:before {
  content: "\e028";
}
.coloredfonticon-pirate-2:before {
  content: "\e029";
}
.coloredfonticon-punk:before {
  content: "\e02a";
}
.coloredfonticon-punk-1:before {
  content: "\e02b";
}
.coloredfonticon-punk-2:before {
  content: "\e02c";
}
.coloredfonticon-relieved:before {
  content: "\e02d";
}
.coloredfonticon-rich:before {
  content: "\e02e";
}
.coloredfonticon-rich-1:before {
  content: "\e02f";
}
.coloredfonticon-rich-2:before {
  content: "\e030";
}
.coloredfonticon-rockstar:before {
  content: "\e031";
}
.coloredfonticon-sad:before {
  content: "\e032";
}
.coloredfonticon-sad-1:before {
  content: "\e033";
}
.coloredfonticon-sad-2:before {
  content: "\e034";
}
.coloredfonticon-sad-3:before {
  content: "\e035";
}
.coloredfonticon-sad-4:before {
  content: "\e036";
}
.coloredfonticon-sad-5:before {
  content: "\e037";
}
.coloredfonticon-sad-6:before {
  content: "\e038";
}
.coloredfonticon-scared-1:before {
  content: "\e039";
}
.coloredfonticon-scared-2:before {
  content: "\e03a";
}
.coloredfonticon-scared-3:before {
  content: "\e03b";
}
.coloredfonticon-sceptic:before {
  content: "\e03c";
}
.coloredfonticon-sceptic-1:before {
  content: "\e03d";
}
.coloredfonticon-sceptic-2:before {
  content: "\e03e";
}
.coloredfonticon-sceptic-3:before {
  content: "\e03f";
}
.coloredfonticon-sceptic-4:before {
  content: "\e040";
}
.coloredfonticon-sceptic-5:before {
  content: "\e041";
}
.coloredfonticon-sceptic-6:before {
  content: "\e042";
}
.coloredfonticon-sceptic-7:before {
  content: "\e043";
}
.coloredfonticon-secret:before {
  content: "\e044";
}
.coloredfonticon-shocked-1:before {
  content: "\e045";
}
.coloredfonticon-shocked-2:before {
  content: "\e046";
}
.coloredfonticon-shocked-3:before {
  content: "\e047";
}
.coloredfonticon-sick:before {
  content: "\e048";
}
.coloredfonticon-sick-1:before {
  content: "\e049";
}
.coloredfonticon-sick-2:before {
  content: "\e04a";
}
.coloredfonticon-sick-3:before {
  content: "\e04b";
}
.coloredfonticon-sick-4:before {
  content: "\e04c";
}
.coloredfonticon-silent:before {
  content: "\e04d";
}
.coloredfonticon-skeleton:before {
  content: "\e04e";
}
.coloredfonticon-smile:before {
  content: "\e04f";
}
.coloredfonticon-smiling:before {
  content: "\e050";
}
.coloredfonticon-smoked:before {
  content: "\e051";
}
.coloredfonticon-smug:before {
  content: "\e052";
}
.coloredfonticon-smug-1:before {
  content: "\e053";
}
.coloredfonticon-smug-2:before {
  content: "\e054";
}
.coloredfonticon-smug-3:before {
  content: "\e055";
}
.coloredfonticon-smug-4:before {
  content: "\e056";
}
.coloredfonticon-smug-5:before {
  content: "\e057";
}
.coloredfonticon-smug-6:before {
  content: "\e058";
}
.coloredfonticon-sporty:before {
  content: "\e059";
}
.coloredfonticon-stunned:before {
  content: "\e05a";
}
.coloredfonticon-superhero:before {
  content: "\e05b";
}
.coloredfonticon-superhero-1:before {
  content: "\e05c";
}
.coloredfonticon-superhero-3:before {
  content: "\e05d";
}
.coloredfonticon-superhero-4:before {
  content: "\e05e";
}
.coloredfonticon-surprised:before {
  content: "\e05f";
}
.coloredfonticon-surprised-1:before {
  content: "\e060";
}
.coloredfonticon-thinking:before {
  content: "\e061";
}
.coloredfonticon-tired:before {
  content: "\e062";
}
.coloredfonticon-tired-1:before {
  content: "\e063";
}
.coloredfonticon-tired-2:before {
  content: "\e064";
}
.coloredfonticon-tired-3:before {
  content: "\e065";
}
.coloredfonticon-tough:before {
  content: "\e066";
}
.coloredfonticon-tough-1:before {
  content: "\e067";
}
.coloredfonticon-trendy:before {
  content: "\e068";
}
.coloredfonticon-vampire-1:before {
  content: "\e069";
}
.coloredfonticon-wink:before {
  content: "\e06a";
}
.coloredfonticon-wink-1:before {
  content: "\e06b";
}
.coloredfonticon-wink-2:before {
  content: "\e06c";
}
.coloredfonticon-winking:before {
  content: "\e06d";
}
.coloredfonticon-winking-1:before {
  content: "\e06e";
}
.coloredfonticon-yawning:before {
  content: "\e06f";
}
.coloredfonticon-yawning-1:before {
  content: "\e070";
}
.coloredfonticon-yawning-2:before {
  content: "\e071";
}
.coloredfonticon-yawning-3:before {
  content: "\e072";
}
.coloredfonticon-yelling:before {
  content: "\e073";
}
.coloredfonticon-zombie:before {
  content: "\e074";
}
.coloredfonticon-vampire:before {
  content: "\e075";
}
.coloredfonticon-superhero-2:before {
  content: "\e076";
}
.coloredfonticon-smiling-1:before {
  content: "\e077";
}
.coloredfonticon-shocked:before {
  content: "\e078";
}
.coloredfonticon-scared:before {
  content: "\e079";
}
.coloredfonticon-rapper:before {
  content: "\e07a";
}
.coloredfonticon-miserly-1:before {
  content: "\e07b";
}
.coloredfonticon-kiss:before {
  content: "\e07c";
}
.coloredfonticon-hipster-2:before {
  content: "\e07d";
}

[class^="coloredfonticon-"]:before, [class*=" coloredfonticon-"]:before, [class^="coloredfonticon-"]:after, [class*=" coloredfonticon-"]:after {
        font-family:coloredfonticon ;
        font-size: 30px;
        font-style: normal;
        margin-left: 20px;
        color: #333;
    }
    #glyphs {
        border-bottom: 1px solid #ccc;
        padding: 2em 0;
        text-align: center;
    }
    .glyph {
        display: inline-block;
        width: 9em;
        margin: 1em;
        text-align: center;
        vertical-align: top;
        background: #FFF;
    }
    .glyph .glyph-icon {
        padding: 10px;
        display: block;
        font-family:"Flaticon";
        font-size: 64px;
        line-height: 1;
    }
    .glyph .glyph-icon:before {
        font-size: 64px;
        color: #222;
        margin-left: 0;
    }
    
    .glyph > input {
        display: block;
        width: 100px;
        margin: 5px auto;
        text-align: center;
        font-size: 12px;
        cursor: text;
    }
    .glyph > input.icon-input {
        font-family:"Flaticon";
        font-size: 16px;
        margin-bottom: 10px;
    }
   