@using (Script.Head()) {
    Script.Require("jQueryUI").AtHead();
}

@using (Script.Foot()) {
    <script type="text/javascript">
        function GetMessage() {
            message = "<ul>";
            if (($("#CommunicationAdvertisingPart_UrlLinked_Value").val() == "" || $("#CommunicationAdvertisingPart_UrlLinked_Value").val() == null) && ($("#CommunicationAdvertisingPart.ContentLinked.SelectedIds").val() == "" || $("#CommunicationAdvertisingPart.ContentLinked.SelectedIds").val() == null)) {
                message = "<li><i class='fa fa-exclamation-triangle' style='color:red;'></i> Campaign link not inserted</li>";
            }
            
            messageSomething=false;
            try{
                if ($("#Laser_Orchard_Facebook_SendOnNextPublish").is(':checked') && $("#Laser_Orchard_Facebook_FacebookMessageSent").val() != "True" && $("#Laser_Orchard_Facebook_SelectedList").val()!=null) {
                    list_account = $('#Laser_Orchard_Facebook_SelectedList').find(":selected").map(function () {
                        return $(this).text();
                    }).get().join().split(',');
                    for (var account in list_account) {
                        message += "<li><i class='fa fa-facebook'></i> Post on Facebook " +list_account[account] + "</li>";
                        messageSomething = true;
                    }
                   
                }
            }catch(e){}
            try{
                if ($("#Laser_Orchard_Twitter_SendOnNextPublish").is(':checked') && $("#Laser_Orchard_Twitter_TwitterMessageSent").val() != "True" && $("#Laser_Orchard_Twitter_SelectedList").val()!=null) {
                    list_account = $('#Laser_Orchard_Twitter_SelectedList').find(":selected").map(function () {
                        return $(this).text();
                    }).get().join().split(',');
                    for (var account in list_account) {
                        message += "<li><i class='fa fa-twitter'></i> Post on twitter " + list_account[account] + "</li>";
                        messageSomething = true;
                    }
                }
            }catch(e){}
           
            try{
                if ($("#MailCommunicationPart_SendOnNextPublish").is(':checked') && $("#MailCommunicationPart_MailMessageSent").val() != "True" ) {
                    message += "<li><i class='fa fa-envelope'></i> Send Email</li>";
                    messageSomething = true;
                }
            } catch (e) { }
            // message += "<li>Send Sms</li>";

            message += "</ul><br/>";
            message += "@T("Are you sure?")";
            if (!messageSomething) {
                message = "";
            }
            return message;
        }
        $(document).ready(function () {
            $('button[name="submit.Publish"]').on("click", function (e) {
                var formtosubmit = $(this).closest('form');
                message = GetMessage();
             
                if (message != "") {

                    $("#dialog-message").html(GetMessage());

                    $("#dialog-confirm").dialog({
                        resizable: false,
                        height: 240,
                        modal: true,
                        buttons: {
                            "Confirm Publish": function () {
                                formtosubmit.append("<input type='hidden' name='submit.Publish' value='submit.Publish' />");
                                $(this).dialog("close");
                                formtosubmit.submit();

                            },
                            Cancel: function () {
                                $(this).dialog("close");
                            }
                        }
                    });
                    return false;
                } else {
                    return true;
                }
            });
        });
    </script>
}
<div id="dialog-confirm" title="Publish action" style="display: none">
    
       @T("Actions to be performed:")<br />
        
        <div id="dialog-message"></div>

    
</div>
<ul class="comm-tabbed">
</ul>
