@using Laser.Orchard.CommunicationGateway.ViewModels
@using Orchard.Security
@using Laser.Orchard.Commons.Helpers
@model View_EmailVM
@*if (Authorizer.Authorize(StandardPermissions.SiteOwner)) {
}
*@
@{    Script.Require("JQuery").AtHead();
      Script.Require("jQueryUI").AtHead();
      Script.Require("jQuery_NestedModels").AtHead();
      Style.Require("FontAwesome430").AtHead();
      }
<fieldset>
    <legend> <i class="fa fa-envelope" style="color: green"></i> @T("Email")</legend>
        <div id="MasterEmail">
        @Html.EditorFor(x => x.Elenco)
    </div>
   <p id="AddEmailButton">
   <i class="fa fa-plus" style="color: green"></i>@Html.LinkToAddNestedForm(x=>x.Elenco, T("Add Email").Text, "#MasterEmail", ".singleemail", "", null)
    </p>
</fieldset>