@*<h1 id="page-title">@Model.Title</h1>*@


<ul class="header-nav header-nav-options">
    <li>
        <a href="#" id="sidebar-collapse-icon" class="btn btn-toggle-menu collapse-menu">
            <i class="fa fa-bars"></i>
        </a>
    </li>
    <li class="header-nav-brand">
        <div class="brand-holder">
            <a href="~/">
                <h1 class="site-title">@Model.Title</h1>
            </a>
        </div>
    </li>
</ul>