@model Laser.Orchard.PaymentGateway.ViewModels.PaymentVM
Pagina di pagamento<br />
Riepilogo:<br />
<hr style="border-width:2px;border-style:dotted" />
@Display(BuildDisplay(Model.ContentItem, "Summary"))
<hr style="border-width:2px;border-style:dotted" />
<br />
La reason è: @Model.Record.Reason
<br />
Paga con:
@using(Html.BeginFormAntiForgeryPost()){
    <ul>
    @foreach(var pos in Model.PosList) {
        <li><button type="submit" formaction="@Html.Raw(pos.GetPosUrl(Model.Record))">@pos.GetPosName()</button></li>
    }
    </ul>
}

