@{
    Layout.Title = T("Newsletter subscription");
}
<h3>@T("Newsletter subscription")</h3>
<div>
    <p>@T("Dear"), <strong>@Model.Subscriber.Name</strong></p>
    <p>@T("Something went worng. Please retry.")</p>
</div>
