@{
    var Menu = Model.Menu;
    var items = (IList<dynamic>)Enumerable.Cast<dynamic>(Menu.Items);

    int position = 0;
    var linkHome = items[0].Href;
}

<div class="col-sm-12 col-md-1 hidden-md">&nbsp;</div>
<div class="col-xs-12 col-sm-6 col-md-3">
    <div class="row">
        <div class="col-xs-6 text-center">
            <div class="space-40"></div>
            <div class="space-20"></div>
            <strong class="footer-nav-title">@Model.ContentItem.MenuWidget.Titolo.Value</strong>
        </div>
        <div class="col-xs-6">
            <div class="menu-menu-footer-container">
                <ul id="footer-menu" class="nav">
                    @foreach (var item in items) {
                        if (position > 0) {
                            
                            <li class="menu-item @(((bool)item.Selected) ? "current-page-ancestor" : "")">
                                <a href="@item.Href">@item.Text</a>
                            </li>
                        }
                        
                        position = position + 1;
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
