@model Laser.Orchard.Claims.ViewModels.IdentityClaimsPartVM

<fieldset>
    <legend>@T("Claims")</legend>
    <div class="editor-label">
        @Html.LabelFor(m => m.IdentityClaims.ClaimsSets)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(m => m.ClaimsArea)
        <span class="hint">@T("If youu leave blank, default value as set in settings will be applied on saving.")</span>
    </div>
</fieldset>