@model Laser.Orchard.Claims.Models.RequiredClaimsPart

<fieldset>
    <legend>Claims</legend>
    <div class="editor-label">
        @Html.LabelFor(m => m.Claims)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.Claims)
        <span class="hint">@T("If youu leave blank, current default value will be applied on saving.")</span>
    </div>
</fieldset>