<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ChartaDb.Properties.Settings.ChartaConnectionString"
            connectionString="Data Source=localhost\sqlexpress2008r2;Initial Catalog=Charta;User ID=sa;Password=pwdsi_laser"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>