<?xml version="1.0"?>
<configuration>
    <appSettings>
      <add key="SourceFolder" value="..\\..\\..\\..\\..\\..\\Laser.Sources\\Laser.Orchard\\"/>
      <add key="DestFolder" value="..\\..\\..\\..\\..\\..\\Orchard.Sources\\src\\Orchard.Web\\"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
