@model Laser.Orchard.Events.Models.ActivityPartSettings
<fieldset>
    <div>
        @Html.CheckBoxFor(m => m.UseRecurrences, new { @checked = "checked", @class = "check-box" })
        <label for="@Html.FieldIdFor(m => m.UseRecurrences)" class="forcheckbox">@T("Allow user to configure recurrences for activities.")</label>
    </div>
</fieldset>
