.navicon-dashboard:before {
    content: "\f015";
}
.navicon-dashboard {
    background-image: none !important; 
}

span.navicon-new:before {
    content: "";
}

.navicon-new:before {
    content: "\f040";
}
.navicon-new {
    background-image: none !important; 
}

.navicon-maintenance:before {
    content: "\f0ad";
}
.navicon-maintenance {
    background-image: none !important; 
}

.navicon-dev-tools:before {
    content: "\f121";
}
.navicon-dev-tools {
    background-image: none !important; 
}

.navicon-content:before {
    content: "\f0ca";
}
.navicon-content {
    background-image: none !important; 
}

.navicon-content-definition:before {
    content: "\f1b3";
}
.navicon-content-definition {
    background-image: none !important; 
}

.navicon-blog:before {
    content: "\f09e";
}
.navicon-blog {
    background-image: none !important; 
}

span.navicon-communication:before {
    content: "";
}
.navicon-communication:before {
    content: "\f086";
}
.navicon-communication {
    background-image: none !important; 
}

.navicon-newsletters:before {
    content: "\f0e0";
}
.navicon-newsletters {
    background-image: none !important; 
}

.navicon-custom-query:before {
    content: "\f0b0";
}
.navicon-custom-query {
    background-image: none !important; 
}

.navicon-social-facebook-account:before {
    content: "\f09a";
}
.navicon-social-facebook-account {
    background-image: none !important; 
}

.navicon-social-twitter-account:before {
    content: "\f099";
}
.navicon-social-twitter-account {
    background-image: none !important; 
}

.navicon-queries:before {
    content: "\f002";
}
.navicon-queries {
    background-image: none !important; 
}

.navicon-aliasies:before {
    content: "\f0c1";
}
.navicon-aliasies {
    background-image: none !important; 
}

.navicon-comments:before {
    content: "\f075";
}
.navicon-comments {
    background-image: none !important; 
}

.navicon-custom-forms:before {
    content: "\f14b";
}
.navicon-custom-forms {
    background-image: none !important; 
}

.navicon-rules:before {
    content: "\f0ae";
}
.navicon-rules {
    background-image: none !important; 
}

.navicon-taxonomies:before {
    content: "\f1ab";
}
.navicon-taxonomies {
    background-image: none !important; 
}

.navicon-spam:before {
    content: "\f05e";
}
.navicon-spam {
    background-image: none !important; 
}

.navicon-widgets:before {
    content: "\f108";
}
.navicon-widgets {
    background-image: none !important; 
}

.navicon-templates:before {
    content: "\f0c5";
}
.navicon-templates {
    background-image: none !important; 
}

.navicon-media:before {
    content: "\f03e";
}
.navicon-media {
    background-image: none !important; 
}

.navicon-navigation:before {
    content: "\f161";
}
.navicon-navigation {
    background-image: none !important; 
}

.navicon-tags:before {
    content: "\f02b";
}
.navicon-tags {
    background-image: none !important; 
}

.navicon-modules:before {
    content: "\f1d8";
}
.navicon-modules {
    background-image: none !important; 
}

span.navicon-statistics:before {
    content: "";
}
.navicon-statistics:before {
    content: "\f200";
}
.navicon-statistics {
    background-image: none !important; 
}

.navicon-themes:before {
    content: "\f1c5";
}
.navicon-themes {
    background-image: none !important; 
}

.navicon-workflows:before {
    content: "\f0e8";
}
.navicon-workflows {
    background-image: none !important; 
}

.navicon-lists:before {
    content: "\f0cb";
}
.navicon-lists {
    background-image: none !important; 
}

.navicon-users:before {
    content: "\f0c0";
}
.navicon-users {
    background-image: none !important; 
}

.navicon-reports:before {
    content: "\f080";
}
.navicon-reports {
    background-image: none !important; 
}

.navicon-jobs-queue:before {
    content: "\f145";
}
.navicon-jobs-queue {
    background-image: none !important; 
}

.navicon-translator:before {
    content: "\f024";
}
.navicon-translator {
    background-image: none !important; 
}

.navicon-import-export:before {
    content: "\f0ec";
}
.navicon-import-export {
    background-image: none !important; 
}

.navicon-settings:before {
    content: "\f085";
}
.navicon-settings {
    background-image: none !important; 
}


