@{
    dynamic item = Model.ContentItem.ContentItem;
    var testoBody = item.BodyPart.Text;
}

<div id="foto-sfondo" style="background-image:url('@item.ElementoFascia.Image.FirstMediaUrl');">
    <div class="foto-sfondo-top"></div>
    
    @if (testoBody != "") {
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <div class="space-40"></div>
                    <h3 class="foto-sfondo-title">@item.TitlePart.Title</h3>
                    <div class="space-40"></div>
                </div>
                <div class="col-sm-12 col-md-4 hidden-xs hidden-sm">
                    @Html.Raw(testoBody)
                </div>
            </div>
        </div>
    }
    <div class="foto-sfondo-bottom"></div>
</div>