@{
    dynamic item = Model.ContentItem;
}

<div class="col-xs-12 col-sm-4 col-md-2 text-center">
    <div class="space-20"></div>
    <div class="space-20"></div>
    <img src="@item.HtmlWidget.Image.FirstMediaUrl"  title="@item.HtmlWidget.Image.MediaParts[0].Title" alt="@item.HtmlWidget.Image.MediaParts[0].AlternateText" class="img-responsive">
    <div class="space-20 visible-xs"></div>
</div>