@{
    dynamic item = Model.ContentItem;
}

<div class="container">
    <div class="space-40"></div>
	<div class="text-center">
		<img src="@item.ShowcaseWidget.Image.FirstMediaUrl" class="img-responsive">
	</div>
	<div class="space-40"></div>
	<p>@Html.Raw(item.BodyPart.Text)</p>
	<div class="space-40"></div>
</div>