@using Orchard.Projections.Services;

@{
    int page = 1;
    int pageSize = Model.ContentItem.ProjectionPart.Record.Items;
    
    var services = WorkContext.Resolve<IProjectionManager>();
    var queryId = Model.ContentItem.ProjectionPart.Record.QueryPartRecord.Id;
    var queryItems = services.GetContentItems(queryId, (page - 1) * pageSize, pageSize);
}

<div id="gmap"></div>

@using (Script.Foot()) {
<script type="text/javascript">
    function initMap() {

        var map = new google.maps.Map(document.getElementById('gmap'), {
            zoom: 9,
            center: {lat: 45.595034, lng: 7.535305},
            draggable: true,
            scrollwheel: false,
        });

        @foreach (var item in queryItems) {
        <text>

        new google.maps.Marker({
            position: {lat: @item.Sede.Latitudine.Value.ToString().Replace(',','.'), lng: @item.Sede.Longitudine.Value.ToString().Replace(',','.')},
            map: map,
            title: '@item.Sede.TestoMappa.Value'
            //icon: '@item.Sede.ImageMappa.FirstMediaUrl'
            //clickable: false
            });

        </text>
        }

    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcfCOvLyBlk2UIkUVPLjmX4FOO-smyDk4&callback=initMap"></script>
}
