@{
    Layout.Title = "Home";
    Layout.BaseClass = "home page-template page-template-page-home";
}

<div id="intro" style="height: 956px;">
	<canvas id="intro-canvas" width="1920" height="956"></canvas>

	<div class="container container-desc clearfix">
		<h2 class="handel-got-d claim">@Model.Title</h2>        
		<h3 class="handel-got-d claim-rosso">@Model.ContentItem.HomePage.Sottotitolo.Value</h3>        
		<h4 class="desc hidden-xs">@Html.Raw(Model.ContentItem.BodyPart.Text)</h4>    
	</div>
</div>