@{
    dynamic item = Model.ContentItem;
}

<div class="container-fluid">
    <div class="space-40"></div>
    <div class="container text-center" id="showcase-loghi">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center">
                <a href="@item.AppStoreWidget.LinkApple.Value">
                    <img src="@item.AppStoreWidget.LogoApple.FirstMediaUrl" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center">
                <a href="@item.AppStoreWidget.LinkGooglePlay.Value">
                    <img src="@item.AppStoreWidget.LogoGooglePlay.FirstMediaUrl" class="img-responsive">
                </a>
            </div>
        </div>
    </div>
    <div class="space-40"></div>
    <div class="space-40"></div>
</div>
