@{
    dynamic item = Model.ContentItem;
}

<div id="showcase-presentazione" style="background-image:url('@item.ParallasseWidget.Image.FirstMediaUrl');">
    <div class="showcase-presentazione-top"></div>
    <div class="showcase-presentazione-bottom"></div>
</div>