@{
    dynamic item = Model.ContentItem;
}

<div class="space-40"></div>
<div class="text-center">
    <img src="@item.ShowcaseImmagineTestoWidget.Image.FirstMediaUrl" class="img-responsive">
</div>
<div class="space-40"></div>
<p>@Html.Raw(item.BodyPart.Text)</p>
