.message-Error {
    background: #b30404;
    border: 1px solid #990808;
    color: white;
    text-align: center;
    margin: 15px;
    padding: 5px;
    font-size: 14px;
}

.message-Information {
    background: #009900;
    border: 1px solid #009900;
    color: white;
    text-align: center;
    margin: 15px;
    padding: 5px;
    font-size: 14px;
}

.cc-cookies {
    width: 100%;
}