@using Orchard.Utility.Extensions;
@{

    Model.Classes.Add("content-item");

    var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
    Model.Classes.Add(contentTypeClassName);

    var tag = Tag(Model, "article");
    var i = 0;
}
<div id="eventi-slider-@(Model.ContentItem.Id)" class="eventi-slider">
        @foreach (var item in Model.ContentItems) {
            @Display(BuildDisplay(item, "Summary").ListIndex(i))
            i++;
        }
</div>
<script>
    $(document).ready(function () {
        $('#eventi-slider-@(Model.ContentItem.Id)').slick({
                autoplay: true,
                autoplaySpeed: 6000,
                lazyLoad: 'progressive',
                cssEase: 'linear',
                arrows: true,
                prevArrow: '<i class="slider-prev visitami-angle-left"></i>',
                nextArrow: '<i class="slider-next visitami-angle-right"></i>',
            });
        });
</script>
