@{
    var cssClass = "visitami-slider";
    if (Layout.HomeBox == null) {
        cssClass += " mini";
    }
}
<div id="visitami-slider-@(Model.ContentItem.Id)" class="@cssClass">
    @Display(Model.Content)
</div>
<script>
    $(document).ready(function () {
        $('#visitami-slider-@(Model.ContentItem.Id)').slick({
            autoplay: true,
            autoplaySpeed: 1000,
            lazyLoad: 'progressive',
            cssEase: 'linear',
            fade: true,
            dots: false,
            arrows: false
        });
    });
</script>
