/* Reset
***************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
/* Remember focus styles! */
:focus {
    outline: 0;
}

ol, ul {
    list-style: none;
}

/* Tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

/* HTML 5 elements as block */
article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section, summary {
    display: block;
}

/* Embedded Content */
figure {
    margin: 0;
}

img, object, embed, video {
    max-width: 100%;
    _width: 100%;
    height: auto;
}
/* Fluid images */
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}
/* Improve IE's resizing of images */
svg:not(:root) {
    overflow: hidden;
}
/* Correct IE9 overflow */
audio, canvas, video {
    display: inline-block;
}
    /* Corrects `inline-block` display not defined in IE 8/9. ! normalize.css v2.0.1 | MIT License | git.io/normalize */
    audio:not([controls]) {
        display: none;
        height: 0;
    }
/* Prevents modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. ! normalize.css v2.0.1 | MIT License | git.io/normalize */

/* Links */
a:focus {
    outline: thin dotted;
}
/* Addresses `outline` inconsistency between Chrome and other browsers. */
a:active, a:hover {
    outline: 0;
}
/* Improves readability when focused and also mouse hovered in all browsers. */

/* Clearing Floats
***************************************************************/

.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.zone:after, .widget-control:after /* .zone:after self clears every zone container - .widget-control:after self clears any floats used in a widget */ {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Style
***************************************************************/
html {
    font-family: sans-serif; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

body {
    line-height: 1;
    font-size: 81.3%; /* May need to adjust responsive navigation placement if you change this value */
    color: #434343;
    background: #fff;
    font-family: Tahoma, "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 95%;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: .6em 0;
}

h1 {
    font-size: 1.308em;
}

h2 {
    font-size: 1.231em;
}

h3 {
    font-size: 1.154em;
}

h4 {
    font-size: 1.077em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 1em;
}

    h1 img, h2 img, h3 img,
    h4 img, h5 img, h6 img {
        margin: 0;
    }

/* Header Headings */
.header-center h1 {
    font-size: 1.539em;
}

.header-center h2 {
    font-size: 1.462em;
}

.header-center h3 {
    font-size: 1.385em;
}

.header-center h4 {
    font-size: 1.308em;
}

.header-center h5 {
    font-size: 1.231em;
}

.header-center h6 {
    font-size: 1.154em;
    color: orange;
}

.header-left h1, .header-right h1 {
    font-size: 1.308em;
    color: orange;
}

    .header-left h1 a, .header-left h1 a:hover, .header-left h1 a:visited, .header-right h1 h1 a, .header-right h1 a:hover, .header-right h1 a:visited {
        /*font-size: 1.308em;*/
        color: orange;
        text-decoration: none;
    }

.header-left h2, .header-right h2 {
    font-size: 1.231em;
    color: orange;
}

.header-left h3, .header-right h3 {
    font-size: 1.154em;
    color: orange;
}

.header-left h4, .header-right h4 {
    font-size: 1.077em;
    color: orange;
}

.header-left h5, .header-right h5 {
    font-size: 1em;
    color: orange;
}

.header-left h6, .header-right h6 {
    font-size: 1em;
    color: orange;
}

/* Aside Headings */
aside h1 {
    font-size: 1.154em;
}

aside h2 {
    font-size: 1.077em;
}

aside h3 {
    font-size: 1em;
}

aside h4 {
    font-size: 1em;
}

aside h5 {
    font-size: 1em;
}

aside h6 {
    font-size: 1em;
}


/* Structure
***************************************************************/
#layout-wrapper {
}

#layout-header-group, #layout-header, #layout-navigation, #layout-featured, #layout-before-main, #layout-main, #layout-footer, #layout-after-main, #layout-tripel {
    max-width: 960px;
    margin: 0 auto;
}
/* Header */
/* - HeaderLeft - */
.header-left {
    float: left;
}
/* - HeaderCenter - */
.header-center {
    float: left;
    margin-left: 22em;
}

    .header-center h1 a {
        color: #212121;
        text-decoration: none;
    }

        .header-center h1 a span {
            display: block;
            font-size: .3em;
            text-transform: capitalize;
            letter-spacing: 13px;
            padding-left: .5em;
        }
/* - HeaderRight - */
.header-right {
    float: right;
}

/* Navigation */
#layout-navigation {
    margin: -3.3em auto 0;
    display: block;
    border-bottom: none;
}

.lt-ie8 #layout-navigation {
    margin-top: -1em;
}
/* Fix IE7 responsive navigation positioning issue */

nav ul {
    position: relative;
    z-index: 9998;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

    nav ul li {
        display: block;
        margin: 0 2px -1px 0;
        /*border: 1px solid #dbdbdb;*/
        background: none;
    }
/* Responsive Changes*/

nav > ul li.current {
    border-bottom: 1px solid #DBDBDB;
    background: #fff;
}

nav > ul li.dropdown:hover {
    background: #eee;
}

nav > ul li.dropdown li.dropdown:hover {
    background: #ddd;
}

nav li.last {
    margin-right: 2px;
}

nav ul li a {
    display: block;
    padding: .5em 18px;
    color: #333;
    font-size: 1.077em;
    text-decoration: none;
    line-height: 24px;
}

/* first level */
nav > ul > li {
    float: none;
}

    nav > ul > li > a {
        float: none;
    }

    nav > ul > li:hover > ul {
        display: block;
    }

    nav > ul > li:hover {
    }

    /* second level */
    nav > ul > li > ul {
        margin: 0 0px 0px -1px;
        padding: 0px;
        display: none;
        position: relative;
        border: 1px solid #dbdbdb;
        border-width: 0 0 0 1px;
        width: 100%;
    }
        /* Responsive Changes */
        nav > ul > li > ul > li {
            list-style-type: none;
            margin: 0px;
            border: none;
        }

            nav > ul > li > ul > li > a {
                display: block;
                text-decoration: none;
                padding-left: 1.5em;
            }

                nav > ul > li > ul > li > a:before {
                    content: "→ ";
                }

            nav > ul > li > ul > li:hover > a {
            }

            nav > ul > li > ul > li:hover > ul {
                display: block;
            }

            /* third level */
            nav > ul > li > ul > li > ul {
                margin: 0;
                padding: 0px;
                display: none;
                position: relative;
                border: 1px solid #dbdbdb;
                border-width: 0;
                width: 100%;
            }
                /* Responsive Changes */
                nav > ul > li > ul > li > ul > li {
                    list-style-type: none;
                    margin: 0px;
                    border: none;
                }

                    nav > ul > li > ul > li > ul > li > a {
                        display: block;
                        text-decoration: none;
                        padding-left: 2.5em;
                    }

                        nav > ul > li > ul > li > ul > li > a:before {
                            content: "→ ";
                        }

                    nav > ul > li > ul > li > ul > li:hover > a {
                    }

                /* deeper levels */
                nav > ul > li > ul > li > ul ul {
                    display: none;
                }

/* responsive navigation */
#nav-collapsed { /* wrapper for collapsed navigation in mobile/small tablets */
    position: relative;
    z-index: 9999;
    display: block;
    float: right;
    margin: -.3em 2px -2px 0;
    padding: .5em;
    border: 1px solid #dbdbdb; /* Change color as desired */
    background-color: #f1f1f1; /* Change color as desired */
    color: #888; /* "Menu" text for medium breakpoints */
    font-weight: bold;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    outline: none;
}

    #nav-collapsed.is-active { /* Clicked state for navigation button */
        padding-bottom: 1.5em;
        background-color: #fff; /* Change color as desired */
        border-bottom: 1px solid #fff;
        -moz-border-radius: 3px 3px 0 0;
        -webkit-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0;
    }

    /* These bars are added markup for styling purposed only (three span tags)
 * You should consider changing to a background img (svg preferably with !Modernizr.svg fallback) */
    #nav-collapsed span.responsive-nav-bars {
        display: block;
        float: left;
        clear: both;
        margin: 1px auto;
        width: 20px;
        height: 3px;
        background-color: #888; /* change color as desired for the three "nav bars" when in default state */
    }

    #nav-collapsed.is-active span.responsive-nav-bars {
        background-color: #666;
    }
    /* Change color of three "nav bars" when active */
    #nav-collapsed span.responsive-menu-text {
        display: none;
    }

.navbar-default .navbar-nav > li > a {
    color: #212121;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    color: #d8703f;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #333 !important;
}

.navbar-default {
    background: none;
    border: none;
}

.navbar-collapse {
    padding: 0;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    /*-- agileits --*/
}

.nav > li > a:hover, .nav > li > a:focus {
    background: none;
}

.navbar-nav > li > a {
    padding: 29px 18px 0;
}

.navbar-nav > li > a {
    padding: 20px 30px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ff9b05;
}

.navbar {
    margin-bottom: 0;
    z-index: 100;
}

.navigation {
    margin: 2em 0 0;
    text-align: center;
}

.navbar-nav {
    float: none;
}

    .navbar-nav li {
        border: none;
    }

    .navbar-nav > li:nth-child(1) {
        margin-left: 12em;
    }


ul.multi-column-dropdown h6 {
    font-size: 1.5em;
    /*-- w3layouts --*/
    color: #ff9b05;
    margin: 0 0 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #E4E4E4;
    text-transform: capitalize;
}

.multi-column-dropdown li {
    list-style-type: none;
    margin: 7px 0;
}

    .multi-column-dropdown li a {
        display: block;
        clear: both;
        line-height: 1.428571429;
        color: #999 !important;
        white-space: normal;
        font-weight: 500 !important;
        text-decoration: none;
    }

        .multi-column-dropdown li a:hover {
            color: #212121 !important;
        }

        .multi-column-dropdown li a span {
            margin-left: 1em;
            padding: .1em .5em;
            background: #B3D547;
            color: #fff;
        }

        .multi-column-dropdown li a i {
            font-size: 1.1em;
            font-style: normal;
            color: #fff;
            text-transform: uppercase;
            margin: 3em 0 0;
            display: block;
            padding: .4em .5em;
            background: #ff9b05;
            text-align: center;
        }

.dropdown-menu.columns-2 {
    min-width: 600px;
    padding: 30px 30px;
}
.dropdown-menu.columns-3 {
    min-width: 900px;
    padding: 30px 30px;
}

.dropdown-menu {
    left: -130%;
}
/* "Menu" text for medium breakpoints */

#layout-header-group {
}

#layout-header-left {
}

#layout-header {
}

#branding {
    float: left;
    width: 77%;
    font-family: 'Lobster', Tahoma, Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
}

    #branding a {
        text-decoration: none;
        color: #434343;
    }

#layout-header-right {
}

#layout-navigation {
}

#layout-featured {
}

#layout-before-main {
}

#layout-main {
}

#aside-first {
}

#layout-content {
}

#messages {
}

#before-content {
}

#content {
}

#after-content {
}

#aside-second {
}

#layout-after-main {
}

#layout-tripel {
}

#tripel-first {
}

#tripel-second {
}

#tripel-third {
}

#layout-footer {
}

#footer-quad {
}

#footer-quad-first {
}

#footer-quad-second {
}

#footer-quad-third {
}

#footer-quad-forth {
}

#footer-sig {
}

/* Zones */
.zone {
    padding: 1em; /* Zones variate on size so percentages are not ideal. */
    /* Enable this to see zone visualizations 
    background-color: yellow;
    box-shadow:inset 0 0 1px purple;
    -moz-box-shadow:inset 0 0 1px purple;
    -webkit-box-shadow:inset 0 0 1px purple; */
}

.zone-header {
    padding: 2.307em 1em 2.307em;
    position: relative;
}

.zone-header-right {
    padding: 2.307em 1em 2.307em;
    position: relative;
}

.zone-header-left {
    padding: 2.307em 1em 2.307em;
    position: relative;
}

.zone-navigation {
    padding: 0;
    text-align: center;
}

.zone-navigation {
    padding: 1em;
}
/* Responsive Changes */
.zone-featured {
}

.zone-before-main {
}

.zone-aside-first {
}

.zone-messages {
}

.zone-before-content {
}

.zone-content {
}

.zone-after-content {
}

.zone-aside-second {
}

.zone-after-main {
}

.zone-tripel-first {
}

.zone-tripel-second {
}

.zone-tripel-third {
}

.zone-footer-quad-first {
}

.zone-footer-quad-second {
}

.zone-footer-quad-third {
}

.zone-footer-quad-fourth {
}

.zone-footer {
    color: #999999;
}

/* Zones
***************************************************************/
.zone-navigation {
    margin-left: 1em;
    padding: 0;
}

/* Secondary Zones */

/* Header side zones */
/* If HeaderLeft is on */
.header-1 #layout-header {
    float: right;
    width: 62.5%;
}

.header-1 #layout-header-left {
    float: left;
    width: 37.5%;
}
/* If HeaderRight is on */
.header-2 #layout-header {
    float: left;
    width: 62.5%;
}

.header-2 #layout-header-right {
    float: right;
    width: 37.5%;
}
/* If both side headers are on */
.header-12 #layout-header {
    width: 62.5%;
}

.header-12 #layout-header-left, .header-12 #layout-header-right {
    width: 18.75%;
}

.header-12 #layout-header, .header-12 #layout-header-left, .header-12 #layout-header-right {
    float: left;
}

/* Aside Zones */
/* If zone 1 is on */
.aside-1 #layout-content {
    float: right;
    width: 62.5%;
}

.aside-1 .aside-first {
    float: left;
    width: 37.5%;
}

/* If zone 2 is on */
.aside-2 #layout-content {
    float: left;
    width: 62.5%;
}

.aside-2 .aside-second {
    float: right;
    width: 37.5%;
}

/* If zones 1, 2 are on */
.aside-12 #layout-content {
    width: 62.5%;
}

.aside-12 .aside-first, .aside-12 .aside-second {
    width: 18.75%;
}

.aside-12 .aside-first, .aside-12 .aside-second, .aside-12 #layout-content {
    float: left;
}

/* Tripel Zones*/
#layout-tripel > div {
    float: left;
    width: auto;
}

/*2 zones on */
.tripel-12 #layout-tripel > div {
    width: 50%;
}
/* If zones 1, 2 are on */
.tripel-23 #layout-tripel > div {
    width: 50%;
}
/* If zones 2, 3 are on */
.tripel-13 #layout-tripel > div {
    width: 50%;
}
/* If zones 1, 3 are on */

/*3 zones on */
.tripel-123 #layout-tripel > div {
    width: 33.33333333333333%;
}
/* If zones 1, 2, 3 are on */

/* Quad Footer Zones */
#footer-quad > div {
    float: left;
    width: 25%;
}

/*1 zone on */
.split-1 #footer-quad-first {
    width: auto;
}
/* If zone 1 is on */
.split-2 #footer-quad-second {
    width: auto;
}
/* If zone 2 is on */
.split-3 #footer-quad-third {
    width: auto;
}
/* If zone 3 is on */
.split-4 #footer-quad-fourth {
    width: auto;
}
/* If zone 4 is on */

/*2 zones on */
.split-12 #footer-quad-first, .split-12 #footer-quad-second {
    width: 50%;
}
/* If zones 1, 2 are on */
.split-13 #footer-quad-first, .split-13 #footer-quad-third {
    width: 50%;
}
/* If zones 1, 3 are on */
.split-14 #footer-quad-first, .split-14 #footer-quad-fourth {
    width: 50%;
}
/* If zones 1, 4 are on */
.split-23 #footer-quad-second, .split-23 #footer-quad-third {
    width: 50%;
}
/* If zones 2, 3 are on */
.split-24 #footer-quad-second, .split-24 #footer-quad-fourth {
    width: 50%;
}
/* If zones 2, 4 are on */
.split-34 #footer-quad-third, .split-34 #footer-quad-fourth {
    width: 50%;
}
/* If zones 3, 4 are on */

/*3 zones on */
.split-234 #footer-quad-second {
    width: 50%;
}
/* If zones 2, 3, 4 are on */
.split-134 #footer-quad-first {
    width: 50%;
}
/* If zones 1, 3, 4 are on */
.split-124 #footer-quad-fourth {
    width: 50%;
}
/* If zones 1, 2, 4 are on */
.split-123 #footer-quad-third {
    width: 50%;
}
/* If zones 1, 2, 3 are on */
