﻿@model KrakeDefaultTheme.ViewModels.ThemeSettingsViewModel

@{ Layout.Title = T("Krake Default Theme Options"); }

@using (Html.BeginFormAntiForgeryPost()) {
    Html.ValidationSummary();
    <fieldset>
        @Html.TextBoxFor(m => m.LogoMedia)@T("Tagline text")
        <span id="lblUseFluidLayout" class="hint">@T("type tagline text for your site")</span>
    </fieldset>
    <fieldset>
        <legend></legend>
        <button class="primaryAction" type="submit" name="submit.Save" value="submit.Save">@T("Save")</button>
    </fieldset>
}