@{
    Script.Require("jQuery").AtHead();
    var payment = Model.Payment.Record;
}
@using (Script.Head()) {
    <script type="text/javascript">
        $(document).ready(function () {
            var query = "reason=@Url.Encode(payment.Reason)&amount=@Convert.ToString(payment.Amount, System.Globalization.CultureInfo.InvariantCulture)&currency=@Url.Encode(payment.Currency)&itemId=@payment.ContentItemId.ToString()";
            //self.location = "@Url.Action("Pay", "Payment", new { area = "Laser.Orchard.PaymentGateway" })?" + query;
            $("#payButton").click(function () {
                self.location = "@Url.Action("Pay", "Payment", new { area = "Laser.Orchard.PaymentGateway" })?" + query;
            });
        });
    </script>
}
<button type="button" id="payButton" style="padding: 10px 10px">@T("Checkout")</button>