@model Laser.Orchard.HID.Models.HIDPartNumberSet

@{ MvcHtmlString answerBlock = Html.UniqueClientId("HIDPartNumberSet"); }
@{
    var setId = "pnsNum_" + answerBlock;
}

<div id="@setId" class="j_building">
    <h2>QWEQWE</h2>
</div>