@using Orchard.ContentManagement
@using Orchard.Utility.Extensions;
@using Orchard.ContentPicker.Fields

@{
    Style.Require("Accordion").AtHead();

    int[] ids = ((dynamic)Model.ContentField).Ids;
    var length = ids.Length;

    foreach (dynamic content in Model.ContentField.ContentItems) {

        string years = content.Campionato.Annodelcampionato.Value;
        string code = content.Campionato.Codicecampionato.Value;


        if (length > 1) {
        
    <h2 class="titolo" id="campionato_@content.Id">
        <a class="accordion-section-title" role="button" data-toggle="collapse" href="#collapse_@content.Id" aria-expanded="false" aria-controls="collapseExample">
            @content.TitlePart.Title
        </a>
    </h2>
    
    <div id="collapse_@content.Id" class="collapse">

        @if (content.Campionato.Abilitaclassifica.Value == true) {
            <text>
            <iframe src='http://www.tuttocampo.it/Widget/Classifica/@code?y=@years' width='100%' height='600' scrolling='no' frameborder='0'></iframe>
            </text>
        }
        @if (content.Campionato.Abilitarisultati.Value == true) {
            <text>
            <iframe src='http://www.tuttocampo.it/Widget/Risultati/@code?y=@years' width='100%' height='600' scrolling='no' frameborder='0'></iframe>
            </text>
        }
        @if (content.Campionato.Abilitamarcatori.Value == true) {
            <text>
            <iframe src='http://www.tuttocampo.it/Widget/Marcatori/@code?y=@years' width='100%' height='600' scrolling='no' frameborder='0'></iframe>
            </text>
        }
    </div>
        } 
        
        else {
            
    <h2 class="titolo" id="campionato_@content.Id">
        @content.TitlePart.Title
    </h2>
            
            if (content.Campionato.Abilitaclassifica.Value == true) {
    <text>
    <iframe src='http://www.tuttocampo.it/Widget/Classifica/@code?y=@years' width='100%' height='600' scrolling='no' frameborder='0'></iframe>
    </text>
            }
            if (content.Campionato.Abilitarisultati.Value == true) {
    <text>
    <iframe src='http://www.tuttocampo.it/Widget/Risultati/@code?y=@years' width='100%' height='600' scrolling='no' frameborder='0'></iframe>
    </text>
            }
            if (content.Campionato.Abilitamarcatori.Value == true) {
    <text>
    <iframe src='http://www.tuttocampo.it/Widget/Marcatori/@code?y=@years' width='100%' height='600' scrolling='no' frameborder='0'></iframe>
    </text>
            }
        }
    }
    
}




