@{
    var Menu = Model.Menu;

    var items = (IList<dynamic>)Enumerable.Cast<dynamic>(Menu.Items);

    if (items.Any()) {
    }
}
<hr class="linea">
<div class="box-archivio">
    @foreach (var item in items) {
        <h3 class="titolo-archivio @(((bool)item.Selected)?"active":"")">
            <a href="@item.Href">@item.Text</a>
        </h3>

    }
</div>

