@{
    var id = Model.ContentItem.Id;
}

<h2 class="titolo">
<a class="accordion-section-title" role="button" data-toggle="collapse" href="#collapse_@id" aria-expanded="false" aria-controls="collapseExample">
    @Model.Title
</a></h2>

<hr class="linea">