@if (Model.SendOnNextPublish)
{
    <span style="color:yellow;font-weight:bold"><i class="fa fa-mobile"></i></span>
}
else
{
    <span style="color:red;font-weight:bold"><i class="fa fa-mobile"></i></span>
}
